@import "bootstrap.min";
@import "variable";
@import "mixin";
@import "nav";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Mulish', sans-serif;
    color: $color-white;
}

.section-border {
    border-bottom: 1px solid $border-color;
    margin: 80px 0;
    padding-bottom: 80px;
    padding-left: 110px;
    padding-right: 65px;
}

.section-title {
    @include font-style(28, 35, 900);
    text-transform: uppercase;
    margin-bottom: 75px;
    position: relative;
    display: inline-block;

    &::after {
        @include after-style();
        background: $main-color;
        width: 3px;
        height: 3px;
        animation: dot-Circle 5s infinite;
    }

}

@keyframes dot-Circle {
    0% {
        left: 0;
        top: 100%;
    }

    20% {
        left: 100%;
        top: 100%;
    }

    30% {
        left: 100%;
        top: 75%;
    }

    60% {
        left: 100%;
        top: 75%;
    }

    75% {
        left: 100%;
        top: 100%;
    }

    100% {
        left: 0;
        top: 100%;
    }
}

.main-section {
    background: #000;
    width: calc(100% - #{$nav-width});
}

// .hero-section 
.hero-section {
    h3 {
        @include font-style(45, 70, 700);

        span {
            color: $main-color;
        }
    }
}

// work-process 
.work-title {
    @include font-style(18, 22, 700);
    text-transform: uppercase;
    margin-right: 85px;
}

.work-text {
    @include font-style(18, 22, 700);
    text-transform: capitalize;
}

.work-title {
    flex-basis: 15%;
}

// project-section 
.project-items {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 10px;
    &:after{
        @include after-style();
        background: #E4C74F90;
        width: 0;
        height: 0;
        top: auto;
        bottom: 0;
        transition: all .5s;
    }
    &:hover{
        .product-title {
            z-index: 1;
            text-align: center;
            bottom: -40%;
            height: 100%;
        }
        &:after{
            width: 100%;
            height: 100%;
        }
    }

    .project-img {
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .product-title {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 15px;
        transition: all .4s ;
    }

    .nav-link {
        @include font-style(18, 24, 800);
        color: $color-white;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding: 0;

    }

    p {
        @include font-style(14, 18, 400);
        text-transform: capitalize;
    }

}

//case-section
.case-study{
    .project-items {
        height: 200px;
    }
}

//blog-section
.blog-items{
    border-radius: 10px;
    overflow: hidden;
    display: block;
    text-decoration: none;
    .img{
        height: 150px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
}
.blog-text{
    background: #fff;
    padding: 18px 30px;
    color: #000;
    .title{
        @include font-style(14,18,600);
        margin-bottom: 12px;
        @include webkit-line(1);
    }
    p{
        @include font-style(14,18,400);
        @include webkit-line(1);
    }
}

.contact-section{
    .form-control{
        background: transparent;
        min-height: 56px;
        color: #fff;
        &:focus{
            background: transparent;
            box-shadow: none;
            border-color: $main-color;
        }
    }
    input[type='submit']{
        width: 100%;
        background: $main-color;
        border: none;
        font-weight: bold;
        padding: 15px 0;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
        }
    }
}